// @import url("https://fonts.googleapis.com/css?family=Spartan:500,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) {
    font-size: 56.25%; //1rem  = 9px; 9/16 = 56.25%
  }

  @include respond(tab-port) {
    font-size: 50%; //1rem  = 8px; 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem  = 12px; 12/16 = 75%
  }
}
// ## Colors

// ### Primary

// - Dark Blue: hsl(233, 26%, 24%)
// - Lime Green: hsl(136, 65%, 51%)
// - Bright Cyan: hsl(192, 70%, 51%)

// ### Neutral

// - Grayish Blue: hsl(233, 8%, 62%)
// - Light Grayish Blue: hsl(220, 16%, 96%)
// - Very Light Gray: hsl(0, 0%, 98%)
// - White: hsl(0, 0%, 100%)

// ## Typography

// ### Body Copy

// - Font size: 18px

// ### Font

// - Family: [Public Sans](https://fonts.google.com/specimen/Public+Sans)
// - Weights: 300, 400

:root {
  --dark-blue: hsl(233, 26%, 24%);

  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --primary: linear-gradient(to right, var(--lime-green), var(--bright-cyan));

  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --defaut-font-size: 1.8rem;
}

body {
  position: relative;
  box-sizing: border-box;

  background-color: var(--very-light-gray);
  color: var(--grayish-blue);
  font-size: var(--default-font-size);
  font-family: "Public Sans", sans-serif;
}
h1,
h2,
h3,
h4 {
  color: var(--dark-blue);
  font-weight: 300;
}
h1 {
  font-size: 5rem;
  font-weight: 400;
}
h2 {
  font-size: 4rem;
  font-weight: 400;
}
h3 {
  font-size: 2rem;
  font-weight: 400;
}
h4 {
  font-size: 1.35rem;
  font-weight: bold;
}
p {
  font-size: 1.5rem;
}
.p-large {
  font-size: 1.75rem;
  line-height: 1.5;
}

.container {
  position: relative;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns:
    12rem minmax(2rem, 1fr)
    minmax(min-content, 104rem)
    minmax(2rem, 1fr) 12rem;

  grid-gap: 4rem 0;
  // justify-items: center;
  align-items: center;
}
.bg-white {
  background-color: var(--white);
}
.bg-lt-gray {
  background-color: var(--very-light-gray);
}
.bg-gray {
  background-color: var(--light-grayish-blue);
}
.bg-dark {
  background-color: var(--dark-blue);
}
.center-col {
  grid-column: 3/4;
}

.flex {
  display: flex;
  position: relative;
}
.grid {
  display: grid;
  position: relative;
}
.center {
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
}
.left {
  justify-content: flex-start;
  justify-items: flex-start;
  align-items: center;
  text-align: left;
}
.full-width {
  grid-column: 1/-1;
}
.col-1 {
  grid-template-columns: 1fr;
  grid-gap: 3rem;
}
.col-2 {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
.col-3 {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.col-4 {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem 4rem;
}
.col-5 {
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
}

.hide {
  display: none;
}

@include respond(tab-port) {
  .container {
    grid-template-columns:
      4rem 1fr
      minmax(min-content, 200rem)
      1fr 4rem;
  }
}
@include respond(phone) {
  .col-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@include respond(sm-phone) {
  .container {
    grid-template-columns:
      2rem 1fr
      minmax(min-content, 200rem)
      1fr 2rem;
  }
  .col-2,
  .col-3,
  .col-4 {
    grid-template-columns: 1fr;
  }
  .left {
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
  }
}
